<section class="advantages">
    <div class="container">
        <div class="advantages__item">
            <div class="advantages__item-tittle med">
                <p class="advantages__tittle">Swiss Privacy</p>
                <p class="advantages__subtittle">Data Security and Neutrality</p>
            </div>
            <div class="advantages__item-text">
                <p>NeutronMail is incorporated in Somewhere and all our servers are located in Switzerland. This means all user data is protected by strict Swiss privacy laws.</p>
            </div>
        </div>
        <div class="advantages__item">
            <div class="advantages__item-tittle lock">
                <p class="advantages__tittle">Double Encryption</p>
                <p class="advantages__subtittle">Automatic Email Security</p>
            </div>
            <div class="advantages__item-text">
                <p>All emails are secured automatically with end-to-end encryption. This means even we cannot decrypt and read your emails. As a result, your encrypted emails cannot be shared with third parties.</p>
            </div>
        </div>
        <div class="advantages__item">
            <div class="advantages__item-tittle key">
                <p class="advantages__tittle">Anonymous Email</p>
                <p class="advantages__subtittle">Protect Your Privacy</p>
            </div>
            <div class="advantages__item-text">
                <p>No personal information is required to create your secure email account. By default, we do not keep any IP logs which can be linked to your anonymous email account. Your privacy comes first.</p>
            </div>
        </div>
    </div>
</section>