<section class="discription">
    <div class="discription-wrap">
        <div class="discription__points">
            <div class="points">
                <div class="point1"></div>
                <div class="point2"></div>
                <div class="point3"></div>
            </div>
            <p class="discription__points-text">A new email service being developed by a group from MIT and CERN promises to bring secure, encrypted email to the masses and keep sensitive information away from prying eyes.</p>
            <p>— Boston Herald</p>
        </div>
        <div class="discription__inner-wrap">
            <div class="discription__about">
                <p class="discription-tittle">Any device, anywhere</p>
                <p>The NeutronMail inbox is optimized for productivity. Each detail within our secure email service is optimized to help you better read, organize, and send email.</p>
                <div class="discription__btn">
                    <a href=""><img src="img/appstore.png" alt=""></a>
                    <a href=""><img src="img/googleplay.png" alt=""></a>
                </div>
            </div>
            <img class="computer-img" src="img/computer.png" width="400" alt="">
        </div>
    </div>
</section>