<footer>
    <div class="container">
        <div class="links">
            <div class="email">
                <p>General: contact@neutronmail.ch</p>
                <p>Media: media@neutronmail.ch</p>
                <p>Security: security@neutronmail.ch</p>
                <br>
                <p>For support inquiries, please visit <a class="link-email" href="">neutronmail.com/support</a></p>
            </div>
            <div class="links__info">
                <div class="links__info-item links__info--first">
                    <p class="link__tittle">Company</p>
                    <a class="link-point" href="">Blog</a>
                    <a class="link-point" href="">Team</a>
                    <a class="link-point" href="">Careers</a>
                    <a class="link-point" href="">Support</a>
                    <a class="link-point" href="">Donate</a>
                </div>
                <div class="links__info-item">
                    <p class="link__tittle">Legal</p>
                    <a class="link-point" href="">Imprint</a>
                    <a class="link-point" href="">Privacy Policy</a>
                    <a class="link-point" href="">Terms & Conditions</a>
                    <a class="link-point" href="">Transparency Report</a>
                    <a class="link-point" href="">Report Abuse</a>
                </div>
                <div class="links__info-item">
                    <p class="link__tittle">NeutronMail</p>
                    <a class="link-point" href="">Pricing</a>
                    <a class="link-point" href="">Security</a>
                    <a class="link-point" href="">Shop</a>
                    <a class="link-point" href="">Press/Media Kit</a>
                    <a class="link-point" href="">Onion Site</a>
                </div>
            </div>
        </div>
        <div class="footer-social">
            <a class="footer-social__link" href="">Facebook</a>
            <a class="footer-social__link" href="">Twitter</a>
            <a class="footer-social__link" href="">Google+</a>
            <a class="footer-social__link" href="">Feedback Forum</a>
            <a class="footer-social__link" href="">Reddit</a>
        </div>
    </div>
</footer>