 <header class="header">
 	<div class="container">
 		<div class="header__menu">
 			<img class="header__logo" src="img/headerlogo.png" width="157" height="28" alt="">
 			<div class="header__navigation">
 				<nav>
 					<a href="">About</a>
 					<a href="">Security</a>
 					<a href="">Blog</a>
 					<a href="">Careers</a>
 					<a href="">Support</a>
 					<a href="">Donate</a>
 				</nav>
 				<div class="userblock">
 					<a class="login" href="">Log in</a>
 					<a class="signup btn" href="">Sign up</a>
 				</div>
 			</div>
 		</div>
 		<div class="header__language">
 			<a class="active-language" href="">English</a>
 			<a href="">French</a>
 			<a href="">Italian</a>
 			<a href="">Polish</a>
 		</div>
 	</div>
 </header>