<section class="logo">
    <div class="logo__center">
       <div class="logo__tittle">
        <h2 class="main-tittle">Secure Email Communication</h2>
        <h3>Based in USA</h3>
    </div>
    <div class="logo__btns">
        <a class="account btn" href="">Create account</a>
        <a class="apple-store" href="">APL</a>
        <a class="gplay" href="">GP</a>
    </div>
</div>
<div class="logo__social">
    <a class="social-btn gl" href="">gl</a>
    <a class="social-btn fb" href="">fb</a>
    <a class="social-btn tw" href="">tw</a>
</div>
</section>