<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="css/main.min.css">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap" rel="stylesheet">
    <title>Gulp template</title>
</head>
<body>
    <!--=include parts/sections/header.html -->
    <main>
        <!--=include parts/sections/logo.html -->
        <!--=include parts/sections/advantages.html -->
        <!--=include parts/sections/mainadvantage.html -->
        <!--=include parts/sections/discription.html -->
        <!--=include parts/sections/donate.html -->
        <!--=include parts/sections/partners.html -->
    </main>
    <!--=include parts/sections/footer.html -->

    <script src="js/vendors.min.js"></script>
    <script src="js/script.min.js"></script>
</body>
</html>